flows.json
[{"id":"96dd3fe2.2cb73","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"497bbc4d.70d604","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"d404bf86.5af85","type":"ui_tab","z":"","name":"Tab ","icon":"dashboard","disabled":false,"hidden":false},{"id":"ad674afb.dc19b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cfd7ef64.fd1ef","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"d47206fd.1e17d8","type":"ui_group","z":"","name":"input","tab":"d404bf86.5af85","order":2,"disp":true,"width":"6","collapse":false},{"id":"a9168193.1c74d","type":"ui_spacer","name":"spacer","group":"d47206fd.1e17d8","order":2,"width":"6","height":"6"},{"id":"ca5de6d5.13a8e8","type":"ui_group","z":"","name":"OUTPUT","tab":"d404bf86.5af85","order":2,"disp":true,"width":"14","collapse":false},{"id":"376fa9fe.b4bae6","type":"function","z":"96dd3fe2.2cb73","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["54a88946.1d2af8"]]},{"id":"a0cbd664.5c2348","type":"function","z":"96dd3fe2.2cb73","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1)\n{\n    for(var i in msg.payload.context.webhook_result_1.results)\n    {\n        msg.payload.text=msg.payload.text+\"<br>\"+msg.payload.context.webhook_result_1.results[i].subtitle;\n        msg.payload.text=msg.payload.text+\"<br><br>\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["e835c63e.9fd728"]]},{"id":"f9b89fe2.d75aa","type":"debug","z":"96dd3fe2.2cb73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":60,"wires":[]},{"id":"e835c63e.9fd728","type":"ui_text","z":"96dd3fe2.2cb73","group":"ca5de6d5.13a8e8","order":3,"width":"15","height":"15","name":"","label":"results","format":"{{msg.payload}}","layout":"col-center","x":810,"y":360,"wires":[]},{"id":"e0d71838.6d8568","type":"function","z":"497bbc4d.70d604","name":"","func":"msg.payload=\"Hey \"+msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["e3f0bca8.76af6"]]},{"id":"e3f0bca8.76af6","type":"ui_text","z":"497bbc4d.70d604","group":"","order":4,"width":"6","height":"4","name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":380,"wires":[]},{"id":"258d9fe8.6a15d","type":"ui_form","z":"96dd3fe2.2cb73","name":"","label":"","group":"d47206fd.1e17d8","order":1,"width":"6","height":"6","options":[{"label":"Enter the Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":360,"wires":[["376fa9fe.b4bae6"]]},{"id":"54a88946.1d2af8","type":"watson-conversation-v1","z":"96dd3fe2.2cb73","name":"","workspaceid":"7fc5cbc4-8e1e-45b2-90c9-7a7257b0c3b2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c3aefb74-b71d-42c0-8c70-673d99f8ec8e","timeout":"","optout-learning":false,"x":480,"y":200,"wires":[["f9b89fe2.d75aa","a0cbd664.5c2348"]]}]